<!DOCTYPE html>
<html>
<head>
    <title>Cities Trivia</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header>
        <div class="HP">
            <a href="/">
                <h1 class="Logo">Cities Trivia</h1>
            </a>
            <nav class = "NavBar">
                <hr class="vertical">
                <a href="/">Home</a>
                <hr class="vertical">
                <a href="/leaderboard">Leaderboard</a>
                <hr class="vertical">
                <a href="/daily">Daily Quiz</a>
                <hr class="vertical">
                <a href="/practice">Practice Quiz</a>
                <hr class="vertical">
                <a href="/account">Account</a>
                <hr class="vertical">
            </nav>
        </div>
    </header>
    <div class="account-box">
        <div class="user-header">
            <img src="/pics/account.jpg" alt="Account Image" class="account-image">
        </div>

        <% if (!user) { %>

        <section id="intro-creation">
            <h2>To begin, let's create an account.</h2>
        </section>

        <div id="account-submission">
            <form id="accountSubmissionForm">
                <div class="form-group">
                    <label>Username:</label>
                    <input id="createUsername" type="text" name="username" placeholder="Enter Username" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Password:</label>
                    <input id="createPassword" type="password" name="password" placeholder="Enter Password" autocomplete="off">
                </div>

                <button id="submitAccount" type="submit">Submit</button>
            </form>
        </div>

        <div id="account-login">
            <h2>Already have an account? Let's login.</h2>
            <form id="accountLoginForm">
                <div class="form-group">
                    <label>Username:</label>
                    <input id="loginUsername" type="text" name="username" placeholder="Enter Username" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Password:</label>
                    <input id="loginPassword" type="password" name="password" placeholder="Enter Password" autocomplete="off">
                </div>

                <button id="submitLogin" type="submit">Submit</button>
            </form>
        </div>

        <% } else { %>

        <input type="hidden" id="currentUsername" value="<%= user %>">

        <div id="user-info">
            <p>Current User: <%= user %></p>

            <form action="/logout" method="POST">
                <button type="submit">Log Out</button>
            </form>

            <% if (userPic) { %>
                <img src="<%= userPic %>" alt="Profile Picture" style="width:50px;height:50px;border-radius:50%;">
            <% } %>
        </div>
            
        <% } %>
    </div>

</body>
<script src="/javascript/account.js"></script>
</html>