<html>
<head>
    <title>Daily Challenge</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <a class="home" href="/"><h1>CiTrivia</h1></a>
    <a class="account" href="/account"><h2>Account</h2></a>
    <a class="leaderboard" href="/leaderboard"><h2>Leaderboard</h2></a>
    <h3>Daily Challenge</h3>
    <h4>Capital of Mexico</h4>
    <ul>
        <li>Mexico City</li>
        <li>England</li>
        <li>Austin</li>
        <li>Puebla</li>
    </ul>
    <button>Submit</button>
</body>
</html>