<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <a class="home" href="/"><h1>CiTrivia</h1></a>
    <a class="account" href="/account"><h2>Account</h2></a>
    <a class="leaderboard" href="/leaderboard"><h2>Leaderboard</h2></a>
    <a class="practice" href="/practice"><h3>Practice</h3></a>
    <a class="daily" href="/daily"><h3>Daily Challenge</h3></a>
</body>
</html>