<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <a class="home" href="/"><h1>CiTrivia</h1></a>
    <a class="account" href="/account"><h2>Account</h2></a>
    <a class="leaderboard" href="/leaderboard"><h2>Leaderboard</h2></a>
    <h3>Leaderboard</h3>
    <p>1. John Doe - 1000 points</p>
</body>
</html>