<!DOCTYPE html>
<html>
<head>
    <title>Cities Trivia</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header>
        <div class="HP">
            <a href="/">
                <h1 class="Logo">Cities Trivia</h1>
            </a>
            <nav class = "NavBar">
                <hr class="vertical">
                <a href="/">Home</a>
                <hr class="vertical">
                <a href="/leaderboard">Leaderboard</a>
                <hr class="vertical">
                <a href="/daily">Daily Quiz</a>
                <hr class="vertical">
                <a href="/practice">Practice Quiz</a>
                <hr class="vertical">
                <a href="/account">Account</a>
                <hr class="vertical">
            </nav>
        </div>
    </header>
    <ul>
    <% quizzesTable.forEach(function(quiz) { %>
        <li>
            <a href="/quiz/<%= quiz.TITLE %>">
                <%= quiz.TITLE %>
            </a>
        </li>
    <% }); %>
    </ul>
</body>
</html>