<!DOCTYPE html>
<html>
<head>
    <title>Cities Trivia</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header class="header">
        <div class="header-inner">
            <a href="/practice" class="logo">Practice Quiz</a>

            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/daily">Daily Quiz</a>
                <a href="/practice" class="active">Practice Quiz</a>
                <% if (!user) { %>
                    <a href="/account">Log in</a>
                <% } else { %>
                    <a href="/account">Account</a>
                <% } %>
            </nav>
        </div>
    </header>
    <% Object.keys(groupedQuizzes).forEach(function(region) { %>

        <div class="region-block">

            <h2 class="region-title"><%= region %></h2>

           <div class="quiz-grid">
                <% groupedQuizzes[region].forEach(function(quiz) { %>
                    <a class="quiz-card-item" href="/quiz/id/<%= quiz.QuizID %>">
                        <%= quiz.TITLE %>
                    </a>
                <% }); %>
            </div>

        </div>

    <% }); %>
</body>
</html>