<!DOCTYPE html>
<html>
<head>
    <title>Cities Trivia</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/daily">Daily Quiz</a>
            <a href="/practice">Practice Quiz</a>
            <a href="/account">Account</a>
        </nav>
    </header>
    <a href = "/quiz"> Do the quiz? </a>

</body>
</html>