<!--i am creating a specific quiz page that will be linked to the daily and practicce if this is not the correct way to do this then i will instead copy and paste this -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    
    <div id = "quizContent">
        
        

        <div id = "heading">
            <h1>
                <%= title %> 
            </h1>

    </ul>
            
        </div>
        <div id = "scoreInformation">
                
                    <p>Score:</p>
                    <p id = "score"> </p>
                
                
                    <p>Timer:</p>
                    <p id = "timer"></p>
                
                
                    <p>Question: </p>
                    <p id = "questionIndex">  </p>

            
        </div>
   
            <h1 id = "question" >
                Question
            </h1>
            <div id = "answers">
                <button id = "ans1">City 1</button>
                <button id = "ans2">City 2</button>
                <button id = "ans3">City 3</button>
                <button id = "ans4">City 4</button>
            </div>
            <p id = "output">
            </p>

            <button id = "startButton">
                Start
            </button>
        </div>
    
     
    
    <script>
        const questionsJson = <%- JSON.stringify(questionsTable) %>;
        //this is how the questions are put into an array of arrays with[[Question, Answer]]
        questions=[];
        for(let i =0; i<questionsJson.length;i++){
            questions[i] = [questionsJson[i].Question,questionsJson[i].Answer,questionsJson[i].Points];
        }
        //this is taking all the answers in the entire quiz and putting them in array.
        //if we need to we can make this more specific
        const citiesJson = <%- JSON.stringify(allAnswers) %>;
        cities =[];
        for(let i = 0 ; i < citiesJson.length;i++){
            cities[i]= citiesJson[i].Answer
        }
    </script>
    <script src="/javascript/quiz.js"></script>
</body>
</html>