#scoreInformation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px; /* space between items */
}

#quizContent{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

#answers{
    padding: 10px 20px;
    font-size: 1rem;
}