#scoreInformation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px; /* space between items */
}

#quizContent{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

#answers{
    padding: 10px 20px;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 400px;
}

.HP {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.Logo {
    display: block;
    text-decoration: none;
    background-color: green;
    width: 100%;
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 0px
}

.NavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 60px;
    font-size: 20px;
    gap: 7%;
    margin-bottom: 20px;
}

.HP a, .HP a:visited {
    color: black;
    text-decoration: none;
}

.map-image {
    width: 100%;
    height: auto;
}

.vertical {
    width: 3px; 
    height: 60px; 
    float: left; 
}

.account-box {
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.user-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    gap: 10px;
}

.account-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}